* {
  position: relative;
  box-sizing: border-box;
}
html {
  --player-a-color: #1aa00e;
  --player-b-color: #7422d1;
  --font-family: "Bebas Neue", sans-serif;
  --grid-size: clamp(100px, 10vw, 500px);
}

body,
html {
  font-family: var(--font-family);
  width: 100%;
  margin: 0;
  letter-spacing: 0.05em;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

h2 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  line-height: 0.8;
}

button {
  cursor: pointer;
}

.button {
  background: white;
  border: 0;
  padding: 1.1rem 2rem 0.9rem;
  border-radius: 500px;
  font-size: 2rem;
  font-family: var(--font-family);
  line-height: 1;
  transition: all 250ms ease;
  border: 1px solid;
}

.button:hover {
  background: #ddd;
}

.button--small {
  font-size: 1.5rem;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid;
  flex: 0 0 auto;
}

.header h1 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.container {
  flex: 1 1 auto;
  display: grid;
  place-content: center;
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  animation: fade-in-form 250ms ease-out forwards;
}

@keyframes fade-in-form {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form > * {
  margin-top: 1rem;
}

.button[type="submit"] {
  margin-left: 10%;
  margin-right: 10%;
}

.input-group {
  align-self: center;
  width: 100%;
}

.input-group--horizontal {
  display: flex;
  gap: 1rem;
}

input {
  font-family: var(--font-family);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
}

label {
  font-size: 1.5rem;
  display: block;
}

.scoreboard {
  width: 100%;
  padding: 2rem 0;
}

.scores {
  display: flex;
  font-size: 2rem;
  gap: 4rem;
  justify-content: center;
  margin-top: 1rem;
}

.score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.score--your-turn {
  outline: 2px solid;
}

.score::before {
  transform: translateY(-0.075em);
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  background: black;
  font-size: 1.2rem;
}

.score--player-a::before {
  background: var(--player-a-color);
}

.score--player-b::before {
  background: var(--player-b-color);
}

.game-board {
  display: grid;
  border-radius: 10px;
  height: 100%;
  background: white;
  padding: 20px;
  /* outline: 1px solid; */
  place-content: center;
}

.game-board__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fade-in-wrapper 250ms ease-out forwards;
}

@keyframes fade-in-wrapper {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.row {
  display: flex;
}

.dot {
  font-size: 2rem;
  height: 1em;
  width: 1em;
  line-height: 0;
  text-align: center;
  outline: 4px solid #333;
  outline-offset: -1px;
  align-self: flex-start;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  z-index: 4;
  border-radius: 50%;
}

.box {
  z-index: 2;
  pointer-events: none;
  margin: 1.25rem -0.75rem -0.75rem 1.25rem;
  color: white;
  display: grid;
  place-content: center;
  border-radius: 1rem;
  transform: scale(0) rotate(0.5turn);
  transition: all 750ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
.box--is-filled {
  background: #444;
  transform: scale(1) rotate(0);
}

.box--playerB {
  background: var(--player-b-color);
}

.box--playerA {
  background: var(--player-a-color);
}

.line-btn {
  display: block;
  padding: 1rem;
  border: 0;
  box-shadow: inset 0px 0px 0px 0.5rem white;
  background: #f7f7f7;
  line-height: 0;
  color: transparent;
  justify-self: stretch;
  align-self: flex-start;
  transform: translateX(1rem);
  transition: all 50ms ease;
}

.line-btn:hover,
.line-btn:focus {
  background: #333;
  z-index: 1;
}
.player-a .line-btn:active {
  background: var(--player-a-color);
}

.player-b .line-btn:active {
  background: var(--player-b-color);
}

.line-btn--vertical {
  justify-self: flex-start;
  align-self: stretch;
  transform: translateX(0rem) translateY(1rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.line-btn-text--vertical {
  writing-mode: vertical-lr;
}

.line-btn--drawn {
  background: #333;
  z-index: 1;
}
